In [8]:
import pandas as pd
from tkinter import *


df = pd.read_csv('Data.csv', encoding='utf-8')
%matplotlib inline 



#df['Sex'].value_counts().plot(kind='bar', figsize=(7,7))


Qualified = df[df['Job Title'] == 'Retail banker']   # displays all profiles of only retail bankers
Qualified.head()


#df.plot(kind= 'scatter', x = 'Sex', y ='Job Title') #plots sex and job title a s ascatter graph  
#plt.show()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
44,45,5F2f3fAca8B0946,Darren,Andrews,Male,lhernandez@example.com,(975)799-4261,1997-10-04,Retail banker
61,62,Ed724605A403D91,Kelli,Garner,Male,jodyvincent@example.org,995.000.4213x0982,2010-01-17,Retail banker